.hero {
    padding-top: 150px !important;
    padding-bottom: 110px !important;
    background: #0F0E1F;
}
body{
  background-color: #0F0E1F;
}
        .figman{
            font-family: 'Work Sans';
          font-style: normal;
          font-weight: 500 !important;
          font-size: 50px !important;
          text-align: center;
          color: #FFFFFF;
          line-height: 80px;
          }
          .doneck{
            font-family: 'Work Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          text-align: center;
          color: #FFFFFF;
          }
          .tbutton{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
              }
              .me-2{
                background-color:  #FFB62A !important;
                margin-right: 15px !important;
                font-family: 'Work Sans' !important;
             font-style: normal !important;
             font-weight: 500 !important;
             font-size: 16px !important;
             text-align: center !important;
             border-radius: 5px !important;
             color: #0F0E1F !important;
               }
               .me-33{
                 background-color:  #ffffff00 !important;
                 margin-right: 15px !important;
                 font-family: 'Work Sans' !important;
              font-style: normal !important;
              font-weight: 500 !important;
              font-size: 16px !important;
              text-align: center !important;
              border-radius: 5px !important;
              border: 1px solid white;
              color: #ffffff !important;
               }

               .checkkk{
                text-align: center ;
                display: flex;
                justify-content: center;
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 27px;
                margin-top: 30px;
                margin-bottom: 40px;
                color: #000000;
                /* background-color: red; */
              }
              .linethr{
                text-decoration-line: line-through;
              }
              .product-item{
                text-align: center;
                text-decoration: none;
                display: block;
                position: relative;
                /* padding-bottom: 50px; */
                cursor: pointer;
              }
.product-thumbnail2{
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.flexx{

  height:100%;
padding: 10px;
border-radius:8px ;
}

      .lux{
        /* background-color: red !important; */
        display: flex;
        align-items: center;
        justify-content: space-between !important;
      }
      .product-title2{
        font-family: 'Work Sans';
        /* background-color: rgb(0, 225, 255); */
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff !important;
        padding-top: 10px ;
      }
      .product-price2{
       display: flex;
      text-align: start;
        padding-top: 10px ;
        padding-bottom: 10px ;
        font-family: 'Work Sans';
      font-style: normal;
      font-weight: 500 !important;
      font-size: 18px !important;
      line-height: 23px;
      color: #ffffff;
      }
      .worry{
      display:flex;
      }
.types{
  background-color: hsla(0,0%,100%,.32);
  /* padding: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  /* font-weight: 600; */
  font-family: 'Work Sans';
  border-radius: 5px;
  width: 70px;
  height: 30px;
}



.location-icon {
  width: 33px;
  height: 28px;
  margin-right: 10px;
  border-radius: 3px;
  background-color: #095dff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iOC41IiBjeT0iOC41IiByPSI0LjUiIGZpbGw9IndoaXRlIi8+CjxjaXJjbGUgY3g9IjguNSIgY3k9IjguNSIgcj0iOCIgc3Ryb2tlPSJ3aGl0ZSIvPgo8L3N2Zz4K);
  background-position: 50% 50%;
  background-size: 50%;
  background-repeat: no-repeat;
}











      








          @media screen and (max-width:768px){
            .figman{
              font-family: 'Work Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 30px !important;
            text-align: center;
            color: #FFFFFF;
            line-height: 50px !important;
            }
            .doneck{
              font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            color: #FFFFFF;
            }
          }