.Navss{
    background-color: #0F0E1F ;
    color: white ; 
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.logoname{
    font-size: 30px;
    font-weight: 600; 
    color: white !important; 
    font-family: 'Work Sans', sans-serif;
}
@media screen and (max-width:768px){
    .logoname{
        font-size: 20px;
        font-weight: 600; 
        color: white !important; 
        font-family: 'Work Sans', sans-serif;
    }
    .Navss{
        background-color: #0F0E1F ;
        color: white ; 
        
        padding-bottom: 45px !important;
        
    }
}
@media screen and (max-width:991px){
    .logoname{
        font-size: 20px;
        font-weight: 600; 
        color: white !important; 
        font-family: 'Work Sans', sans-serif;
    }
    .Navss{
        background-color: #0F0E1F ;
        color: white ; 
        
        padding-bottom: 45px !important;
        
    }
}
.dots{
    opacity: .4;
}
.pushes{
    /* background-color: red; */
    width: 80%;
}
