.hero {
    padding-top: 150px !important;
    padding-bottom: 110px !important;
    background: #0F0E1F;
}
        .figman{
            font-family: 'Work Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 64px;
          text-align: center;
          color: #FFFFFF;
          line-height: 80px;
          }
          .doneck{
            font-family: 'Work Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          text-align: center;
          color: #FFFFFF;
          }
          .tbutton{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
              }
              .me-2{
                background-color:  #FFB62A !important;
                margin-right: 15px !important;
                font-family: 'Work Sans' !important;
             font-style: normal !important;
             font-weight: 500 !important;
             font-size: 20px !important;
             text-align: center !important;
             border-radius: 5px !important;
             color: #0F0E1F !important;
               }
               .me-33{
                 background-color:  #ffffff00 !important;
                 margin-right: 15px !important;
                 font-family: 'Work Sans' !important;
              font-style: normal !important;
              font-weight: 500 !important;
              font-size: 20px !important;
              text-align: center !important;
              border-radius: 5px !important;
              border: 1px solid white;
              color: #ffffff !important;
               }

               .checkkk{
                text-align: center ;
                display: flex;
                justify-content: center;
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 27px;
                margin-top: 30px;
                margin-bottom: 40px;
                color: #000000;
                /* background-color: red; */
              }
              .linethr{
                text-decoration-line: line-through;
              }
              .product-item{
                text-align: center;
                text-decoration: none;
                display: block;
                position: relative;
                padding-bottom: 50px;
                cursor: pointer;
              }
              .product-thumbnail {
                margin-bottom: 30px;
                position: relative;
                top: 0;
                -webkit-transition: .3s all ease;
                -o-transition: .3s all ease;
                transition: .3s all ease; 
             }
         .product-thumbnail:hover {
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; 
      top: -20px; }

      .lux{
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      .product-title{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #0F0E1F;
        
      }
      .product-price{
        background: #FFF0D2;
        border-radius: 4px;
        padding: 10px;
        font-family: 'Work Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      color: #FFB62A;
      }
      .worry{
        display: flex;
        /* margin-left: 14px; */
      }
















      .footer-section {
        padding: 80px 0;
        background: #ffffff; }
        .footer-section a {
          text-decoration: none;
          color: #2f2f2f;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
          .footer-section a:hover {
            color: rgba(47, 47, 47, 0.5); }
        .footer-section .subscription-form {
          margin-bottom: 40px;
          position: relative;
          z-index: 2;
          margin-top: 100px; }
          @media (min-width: 992px) {
            .footer-section .subscription-form {
              margin-top: 0px;
              margin-bottom: 80px; } }
          .footer-section .subscription-form h3 {
            font-size: 18px;
            font-family: 'Work Sans';
            font-weight: 500;
            color: #0F0E1F; }
          .footer-section .subscription-form .form-control {
            height: 50px;
            border-radius: 10px;
            font-family: "Inter", sans-serif; }
            .footer-section .subscription-form .form-control:active, .footer-section .subscription-form .form-control:focus {
              outline: none;
              -webkit-box-shadow: none;
              box-shadow: none;
              border-color: #0F0E1F;
              -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }
            .footer-section .subscription-form .form-control::-webkit-input-placeholder {
              font-size: 14px; }
            .footer-section .subscription-form .form-control::-moz-placeholder {
              font-size: 14px; }
            .footer-section .subscription-form .form-control:-ms-input-placeholder {
              font-size: 14px; }
            .footer-section .subscription-form .form-control:-moz-placeholder {
              font-size: 14px; }
          .footer-section .subscription-form .btn {
            border-radius: 10px !important; }
       
       
      

      
      .form-control {
        height: 50px;
        border-radius: 10px;
        font-family: "Inter", sans-serif; }
        .form-control:active, .form-control:focus {
          outline: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          border-color: #0F0E1F;
          -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }
        .form-control::-webkit-input-placeholder {
          font-size: 14px; }
        .form-control::-moz-placeholder {
          font-size: 14px; }
        .form-control:-ms-input-placeholder {
          font-size: 14px; }
        .form-control:-moz-placeholder {
          font-size: 14px; }
      
      .service {
        line-height: 1.5; }
        .service .service-icon {
          border-radius: 10px;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 50px;
          flex: 0 0 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          background: #0F0E1F;
          margin-right: 20px;
          color: #ffffff; }
      .thankyou-icon {
        position: relative;
        color: #0F0E1F; }
        .thankyou-icon:before {
          position: absolute;
          content: "";
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: rgba(59, 93, 80, 0.2); }
      








          @media screen and (max-width:768px){
            .figman{
              font-family: 'Work Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            text-align: center;
            color: #FFFFFF;
            line-height: 40px;
            }
            .doneck{
              font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            color: #FFFFFF;
            }
          }


          .soon{
            opacity: 0.5;
          }