.aboutscreen{
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: #0F0E1F;
  }
  .gemu{
    color: white;
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 40px !important;
  }
  .wowxx{
    color:green !important;
  }
  .dist{
    margin-top: 10px;
    color: rgb(194, 192, 192);
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 18px !important;
  }
  .gistss{
    display: flex;
    justify-content: center;
  /* flex-wrap: wrap; */
  }
  @media screen and (max-width:991px){
    .gistss{
        display: flex;
        justify-content: center;
      flex-wrap: wrap;
      } 
  }
  .card{
    /* background-color: red; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 100px;
    font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  }
  .detailss{
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    color: #ffffff !important;
  }

  .me-2{
    background-color:  #FFB62A !important;
    margin-right: 15px !important;
    font-family: 'Work Sans' !important;
 font-style: normal !important;
 font-weight: 500 !important;
 font-size: 16px !important;
 text-align: center !important;
 border-radius: 5px !important;
 color: #0F0E1F !important;
   }

 
  .footer-section {
    padding: 80px 0;
    background: #ffffff; }
    .footer-section a {
      text-decoration: none;
      color: #2f2f2f;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .footer-section a:hover {
        color: rgba(47, 47, 47, 0.5); }
    .footer-section .subscription-form {
      margin-bottom: 40px;
      position: relative;
      z-index: 2;
      margin-top: 100px; }
      @media (min-width: 992px) {
        .footer-section .subscription-form {
          margin-top: 0px;
          margin-bottom: 80px; } }
      .footer-section .subscription-form h3 {
        font-size: 18px;
        font-family: 'Work Sans';
        font-weight: 500;
        color: #0F0E1F; }
      .footer-section .subscription-form .form-control {
        height: 50px;
        border-radius: 10px;
        font-family: "Inter", sans-serif; }
        .footer-section .subscription-form .form-control:active, .footer-section .subscription-form .form-control:focus {
          outline: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          border-color: #0F0E1F;
          -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }
        .footer-section .subscription-form .form-control::-webkit-input-placeholder {
          font-size: 14px; }
        .footer-section .subscription-form .form-control::-moz-placeholder {
          font-size: 14px; }
        .footer-section .subscription-form .form-control:-ms-input-placeholder {
          font-size: 14px; }
        .footer-section .subscription-form .form-control:-moz-placeholder {
          font-size: 14px; }
      .footer-section .subscription-form .btn {
        border-radius: 10px !important; }
   
   
  

  
  .form-control {
    height: 50px;
    border-radius: 10px;
    font-family: "Inter", sans-serif; }
    .form-control:active, .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #0F0E1F;
      -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }
    .form-control::-webkit-input-placeholder {
      font-size: 14px; }
    .form-control::-moz-placeholder {
      font-size: 14px; }
    .form-control:-ms-input-placeholder {
      font-size: 14px; }
    .form-control:-moz-placeholder {
      font-size: 14px; }
  
  .service {
    line-height: 1.5; }
    .service .service-icon {
      border-radius: 10px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
      flex: 0 0 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #0F0E1F;
      margin-right: 20px;
      color: #ffffff; }
  .thankyou-icon {
    position: relative;
    color: #0F0E1F; }
    .thankyou-icon:before {
      position: absolute;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: rgba(59, 93, 80, 0.2); }
  .text-muted{
    font-family: 'Work Sans' !important;
    /* color: aqua !important; */
  }