.aboutscreen{
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: #0F0E1F;
  }
  .gemu{
    color: white;
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 40px !important;
  }
  .wowxx{
    color:green !important;
  }
  .dist{
    margin-top: 10px;
    color: rgb(194, 192, 192);
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 18px !important;
  }
  .gistss{
    display: flex;
    justify-content: center;
  /* flex-wrap: wrap; */
  }
  @media screen and (max-width:991px){
    .gistss{
        display: flex;
        justify-content: center;
      flex-wrap: wrap;
      } 
  }
  .card{
    /* background-color: red; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 100px;
    font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  }
  .detailss{
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Work Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    color: #ffffff !important;
  }

  .me-2{
    background-color:  #FFB62A !important;
    margin-right: 15px !important;
    font-family: 'Work Sans' !important;
 font-style: normal !important;
 font-weight: 500 !important;
 font-size: 16px !important;
 text-align: center !important;
 border-radius: 5px !important;
 color: #0F0E1F !important;
   }

 